<div class="row-fluid">
  <div class="span10 has_header">
    <%= @user.name %>
    <%= link_to 'Add Friend', controller: :friendships, action: :req, id: @user.id %>
    
    <%= form_for Event.new, remote: true do |f| %>
    <%= f.text_area :body, placeholder: "Write something...", onfocus: "show_status_submit()", class: 'span12', id: 'new_status' %>
      <%= hidden_field_tag :kind, 'wall_post' %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= button_tag "Post", class: "uibutton confirm large hidden", id: "status_submit_button" %>
    <% end %>
    
  </div>
</div>