<%= content_tag(:li, class: 'comment-wrapper') do %>
  <%= link_to image_tag(comment.user.profile_picture, size: '32x32'), comment.user, class: 'comment-profile-picture' %>
  <div class="comment-content">
    <div class="comment-user-info">
      <%= link_to comment.user.name, comment.user, class: 'comment-user-name' %>
      <span class="comment-text">
        <%= simple_format(comment.body) %>
      </span>
    </div>
    <div class="comment-actions">
      <span class="comment-date">
        <%= timeago comment.created_at %>
      </span>
      <span>
        <% if comment.likers.include?(current_user) %>
          <%= link_to 'Unlike', event_unlike_path(event_id: comment.id), remote: true, id: "comment_id_#{comment.id}_like_button" %>
        <% else %>
          <%= link_to 'Like', event_like_path(event_id: comment.id), remote: true, id: "comment_id_#{comment.id}_like_button", class: "comment_like_button" %>
        <% end %>
      </span>
      <% if comment.likes.count != 0 %>      
        <%= render 'events/comment_like', comment: comment %>
      <% end %>
    </div>
  </div>
<% end %>