<%= content_tag :li, class: 'comment_wrapper' do %>
  <%= link_to image_tag(comment.user.profile_picture, size: '32x32'), comment.user, class: 'comment_profile_picture' %>
  <div class="comment_content">
    <div class="comment-user-info">
      <%= link_to comment.user.name, comment.user, class: 'comment_user_name' %>
      <span class="comment-text">
        <%= simple_format(comment.body) %>
      </span>
    </div>
    <div class="comment_actions">
      <span class="comment-date">
        <%= timeago comment.created_at %>
      </span>
      <span>
        <% if comment.likers.include?(current_user) %>
          <%= link_to_unlike_button(comment) %>
        <% else %>
          <%= link_to_like_button(comment) %>
        <% end %>
      </span>
      <%= content_tag :span, id: "comment_likes_parent_#{comment.id}" do %>
        <% if comment.likes.count != 0 %>      
          <%= render 'events/comment_like', comment: comment %>
        <% end %>
      <% end %>
    </span>
    </div>
  </div>
<% end %>