<script src="http://js.pusher.com/1.12/pusher.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('news_feed');

    channel.bind('new_status', function(data) {
      $(data.new_status_feed).prependTo($(data.feed)).fadeIn('slow');
      $(data.new_status_ticker).prependTo($(data.ticker)).fadeIn('slow');
      $('abbr.timeago').timeago();
    });
    
    channel.bind('new_wall_post', function(data) {
      $(data.new_wall_post_feed).prependTo($(data.feed)).fadeIn('slow');
      $(data.new_wall_post_ticker).prependTo($(data.ticker)).fadeIn('slow');
      $('abbr.timeago').timeago();
    });
  
    channel.bind('new_comment', function(data) {
      $(data.parent).append(data.new_comment[0]);
      if ($(data.link).length > 0) {
        var split_by_offset = $(data.link)[0].href.split('offset=');
        $(data.link)[0].href = split_by_offset[0] + "offset=" + String(parseInt(split_by_offset[1].split('&')[0]) + 1) + '&' + split_by_offset[1].split('&')[1];
      }
      $('abbr.timeago').timeago();
    });
    
    channel.bind('new_status_like', function(data) {
      if (data.count == 1) {
        $.each($(data.ul), function() {
           $(data.likes_bar).prependTo(this).fadeIn('slow');
        });
        show_comment_box(data.event_id, data.location);
      } else {
        $.each($(data.selected_event), function() {
           this.innerHTML = String(parseInt(this.innerHTML.split(' ')[0]) + 1) + ' people like this.';
        });
      }
    });
    
    channel.bind('new_status_unlike', function(data) {
      if (data.count == 0) {
        $(data.likes_bar).fadeOut('fast', function() { $(data.likes_bar).remove() });
      } else if (data.count == 1) {
        $.each($(data.selected_event), function() {
          this.innerHTML = '1 person likes this.';
        });
      } else {
        $.each($(data.selected_event), function() {
          this.innerHTML = String(parseInt(this.innerHTML.split(' ')[0]) - 1) + ' people like this.';
        });
      }
    });
    
    channel.bind('new_comment_like', function(data) {
      if (data.count == 1) {
        $(data.thumbs_up).prependTo($(data.parent)).fadeIn('slow');
      } else {
        $.each($(data.selected_event), function() {
          this.innerHTML = parseInt(this.innerHTML) + 1;
        });
      }
    });
    
    channel.bind('new_comment_unlike', function(data) {
      if (data.count == 0) {
        $(data.thumbs_up).fadeOut('fast', function() { $(data.thumbs_up).remove() });
      } else {
        $.each($(data.selected_event), function() {
          this.innerHTML = parseInt(this.innerHTML) - 1;
        });
      }
    });
    
  });
</script>

<% if signed_in? %>
<div class="row">
  <div class="span12 has_header" id="home-main-content">
    
    <div class="column" id="left_column">
      <%= image_tag current_user.profile_picture, size: '50x50' %>
      <%= current_user.name %>
      <ul class="nav nav-list column_nav">
        <li class="nav-header">Favorites</li>
        <li class="active"><a href="#">News Feed</a></li>
        <li><a href="#">Messages</a></li>
        <li><%= link_to 'Photos', user_photos_path(current_user) %></li>
      </ul>
    </div>
    
    <div id="middle_column">
      <div class="column" id="right_column">

      </div>
      
      <div id="main_content">
        <div id="home_page_update">
          <a id="show_status" href="#" onclick="show_status()">Update Status</a>
          <a id="show_photo_upload" href="#" onclick="show_uploader()">Add Photos</a>
      
          <div class="update_form" id="status_update_form">
            <%= form_for Event.new, remote: true do |f| %>
              <%= f.text_area :body, placeholder: "What's up, #{current_user.first_name}?", onfocus: "show_status_submit()", id: 'new_status' %>
              <%= hidden_field_tag :kind, 'status' %>
              <%= button_tag "Post", class: "uibutton confirm large hidden", id: "status_submit_button" %>
            <% end %>
          </div>
      
          <div class="update_form hidden" id="upload_photos_form">
            <h2>Upload Photos</h2>
            <%= form_for Photo.new, :url => user_photos_path(current_user), :method => 'POST', :html => { :multipart => true, :id => "fileupload"  } do |f| %>
              <%= render 'photos/photo_uploader', f: f %>
            <% end %>
          </div>
        </div>
      
        <div class="feed_items_all">
          <ul id="feed-items">
          <% @events.each do |event| %>
          <%= render 'events/feed/event', event: event %>
          <% end %>
          </ul>
        </div>
        
      </div>
    
      <div class="pagination pagination-centered">
        <%= will_paginate @events %>
      </div>
      
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="has_header">
    <div id="signup">
      <h3>Sign Up</h3>
      <%= form_for @user, validate: true do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <%= f.text_field :first_name, placeholder: 'First Name', class: 'first_name' %>
        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'last_name' %>
        <%= f.text_field :email, placeholder: 'Email', class: 'full_width' %>
        <%= f.password_field :password, placeholder: 'Password', class: 'full_width' %>
        <%= f.password_field :password_confirmation, placeholder: 'Re-enter Password', class: 'full_width' %>
        <%= f.submit "Continue", class: "uibutton large special" %>    
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div id="comment_likes_modal" class="modal hide fade modal_border" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5>People Who Like This</h5>
  </div>
  <div class="modal-body">
    <p>Loading...</p>
  </div>
  <div class="modal-footer">
    <button class="uibutton confirm" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>