<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Rails Walkthrough', root_path, class: "brand" %>
      <% if signed_in? %>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle link-icons" data-toggle="dropdown">
            <i class="icon-group icon-large"></i><span class="notification_number"><%= current_user.requested_friends.count %></span>
          </a>
          <ul class="dropdown-menu">
            <% current_user.requested_friends.each do |friend| %>
            <li>
              <%= friend.name %>
              <%= link_to 'Accept', controller: :friendships, action: :accept, id: friend.id %>
              <%= link_to 'Not Now', controller: :friendships, action: :reject, id: friend.id %>
            </li>
            <% end %>
          </ul>
        </li>
        <li><a href="#" class="link-icons"><i class="icon-envelope-alt icon-large"></i></a></li>
        <li><a href="#" class="link-icons"><i class="icon-globe icon-large"></i></a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="no-margin-bottom" placeholder="Search">
      </form>
      <ul class="nav pull-right">
        <li><%= link_to current_user.name, current_user %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% elsif !signed_in? && !login_page? %>
      <ul class="nav nav-collapse collapse pull-right">
        <%= render 'shared/flash_messages' %>
        <li>
        <%= form_for :session, url: sessions_path, class: 'navbar-search' do |f| %>
          <%= f.text_field :email, placeholder: 'Email', class: 'no-margin-bottom' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'no-margin-bottom' %>
          <%= f.submit "Log In", class: "uibutton confirm" %>
        <% end %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
