<!DOCTYPE html>
<html>
  <head>
    <title>RailsWalkthroughApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="super_container">
      <% if signed_in? %>
      <%= render 'sidebar/sidebar' %>
      <% end %>
      <%= render 'layouts/header' %> 
      <div class="container <%= 'has_sidebar' if signed_in? %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
