<!DOCTYPE html>
<html>
  <head>
    <title>RailsWalkthroughApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if signed_in? %>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
    <% end %>
    
    <%= yield %>
    
    <% if signed_in? %></div><% end %>
  </body>
</html>
